*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    width: 100%;
}


.container{
    padding: 4vw 17vw;

}

#input{ 
    width: 100%;
    padding: 5px 20px;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    border: 1px solid rgb(158, 103, 0);
    color: rgb(158, 103, 0);
    outline: royalblue;
}

img{
    width: 16vw;
    height: 20vw;
    background-color: red;
    border-radius: 10px;
    border: 2px solid black;
    object-fit: cover;
    display: block;
}

.people{
    display: flex;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
}

.person{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: wheat;
}

#red-btn-signin:hover {
    background-color: #c53030; /* Adjust hover color as needed */
}

#snOut:hover {
    color: white;
}


/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
} */

.admin-panel {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

td img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0056b3;
}




